@import url("https://use.typekit.net/xip4qml.css");

body {
    margin: 0;
    background-color: #8EDAEB;
}

main {
    background: linear-gradient(#55B948, #20DB1D);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: #7A4B00;
    height: 20vh;
    border-top: .5em ridge #20DB1D;
    padding: 0 1em .5em 1em;
    display: flex;
    align-items: flex-end;
}

.idea footer {
    border-top: .5em solid #7A4B00;
}

footer p {
    color: whitesmoke;
}

footer li, footer a {
    list-style-type: none;
    color: whitesmoke;
    margin-right: 1em;
    text-decoration-line: underline;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

header > img {
    width: 90vw;
}

header li {
    list-style-type: none;
    margin: .1vh 2vw;
    background-image: url("./img/cloud.png");
    width: 29.4vw;
    height: 11.95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idea > main {
    background-image: url("./img/river.png");
    height: 100vh;
}

section {
    padding: 2rem 0;
}

article {
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.55);
    display: flex;
}

article img {
    width: 7.75em;
}

p, a {
    font-family: "gesta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav a {
    font-size: large;
    font-weight: 500;
}

a {
    color: black;
    text-decoration-line: none;
}

h2 {
    font-family: roca, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.person, .about {
    margin-right: 2em;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    padding-right: 1em;
}

.about, .art {
    padding: 0 1em 0 1em;
}

.art {
    border-top: 1.5em ridge #BB7538;
    border-right: 1.5em ridge #BB7538;
    border-bottom: 1.5em ridge #BB7538;
    margin-right: 2em;
}

.art img {
    margin: 0 .1em;
    border: .5em ridge #BB7538;
}

.location img {
    width: 20vw;
}

.location p, .location h2 {
    text-align: center;
}

.rulez, .flowers {
    margin-left: 2em;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    text-align: right;
    padding: 0 1em 1em 1em;
}

.flowers a, .person a {
    font-weight: 600;
    background-color: rgba(245, 245, 245, 0.55);
    border-radius: 10%;
    padding: .3em .5em;
}

.welcome h2, .welcome p {
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}