@import url("https://use.typekit.net/xip4qml.css");

body {
    margin: 0;
    background-color: #8EDAEB;
}

main {
    background: linear-gradient(#55B948, #20DB1D);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    background-color: #7A4B00;
    height: 20vh;
    border-top: .5em ridge #20DB1D;
    padding: 0 1em .5em 1em;
    display: flex;
}

.idea footer {
    border-top: .5em solid #7A4B00;
}

footer p {
    color: whitesmoke;
}

footer div {
    align-self: flex-end;
}

footer img {
    width: 2em;
    margin-right: .5em;
}

footer li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration-line: none;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

header > img {
    width: 90vw;
}

header li {
    list-style-type: none;
    margin: .1vh 2vw;
    background-image: url("./img/cloud.png");
    width: 29.4vw;
    height: 11.95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idea > main {
    background-image: url("./img/river.png");
    height: 100vh;
}

section {
    padding: 2rem 0 2rem 0;
}

article {
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.55);
    display: flex;
}

article img {
    width: 33vw;
}

p, a {
    font-family: "gesta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav a {
    font-size: large;
}

h2 {
    font-family: roca, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.person, .about {
    margin-right: 2em;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    padding-right: 1em;
}

.about, .art {
    padding: 0 1em 0 1em;
}

.art {
    border-top: 1.5em ridge #BB7538;
    border-right: 1.5em ridge #BB7538;
    border-bottom: 1.5em ridge #BB7538;
    margin-right: 2em;
}

.location img {
    width: 20vw;
}

.location p, .location h2 {
    text-align: center;
}

.rulez, .flowers {
    margin-left: 2em;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
    text-align: right;
    padding: 0 1em 0 1em;
}